.contenedor_card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 0;
}

.contenedor_imagenes {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  padding: 0;
}

.imagenes {
  width: 35%;
  height: 40rem;

  border-radius: 10px;
  border: rgb(119, 114, 114) solid 5px;
  margin: 0px 0;
  object-fit: fill;
  border-radius: 20px;
}

.contenedor_botones {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.botones {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 3rem;
  border-radius: 20px;
  font-family: serif;
  font-weight: 500;
  font-size: 18px;
  color: #d0d0d3;
  background-color: #232325;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  outline: none;
}
.botones:hover {
  color: #232325;
  background-color: #d0d0d3;

  border-radius: 40px;
}

@media (max-width: 950px) {
  .imagenes {
    width: 40%;
  }
  .botones {
    width: 18%;
    height: 4rem;
    margin: 0 10px;
  }
}
@media (max-width: 850px) {
  .imagenes {
    width: 45%;
  }
  .botones {
    width: 18%;
    height: 4rem;
    margin: 0 10px;
  }
}
@media (max-width: 730px) {
  .imagenes {
    width: 50%;
  }
  .botones {
    width: 18%;
    height: 4rem;
    margin: 0 10px;
  }
}
