.contenedor_formulario {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.formulario_producto {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e7e7ee;
  border-radius: 20px;
}
.titulo_formulario {
  color: #040719;
  font-family: serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 15px 0;
}

.contenedor_input_producto {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px 0;
}
.input_producto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  font-size: 19px;
  color: #040719;
  font-family: serif;
  border: none;
  border-bottom: #121f22 solid 1px;
  text-align: center;
  margin: 10px 0;
  background-color: #e7e7ee;
  outline: none;
}

.contenedor_principal_tipoventa {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 15px 0;
}
.input_tipoventa {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 400;
  background-color: #e7e7ee;
  border: #121f22 solid 1px;
  text-align: center;
  color: #040719;
  font-family: serif;
  margin: 10px 10px;
  outline: none;
}
.contenedor_input_tipoproducto {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 15px 0;
}
.input_tipoproducto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 400;
  border: #121f22 solid 1px;
  text-align: center;
  line-height: 40px;
  color: #040719;
  font-family: serif;
  margin: 10px 10px;
  background-color: #e7e7ee;
  outline: none;
}

.contenedor_input_imagen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 0;
}
.contenedor_file_producto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.input_imagen {
  width: 14rem;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: #000 solid 2px;
  border-radius: 20px;
}
.contenedor_boton_submit {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.boton_submit_publicar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border-radius: 20px;
  font-family: serif;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.4s ease;
  color: #d0d0d3;
  background-color: #232325;
  border: 2px solid #d0d0d3;
  box-shadow: 0px 3px 0px 0px #d0d0d3;
  cursor: pointer;
  margin: 10px 0;
}
.boton_submit_publicar:hover {
  color: #232325;
  background-color: #d0d0d3;
  border: 4px solid #d0d0d3;
  box-shadow: 0px 0px 0px 0px #d0d0d3;
  border-radius: 40px;
}

.texto_inputs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}
.errors_productos_frontend {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(163, 38, 38);
}
.errors_submit_producto {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(163, 38, 38);
}
.icon_checkeds_false_producto {
  left: 25%;
  font-size: 40px;
  background-color: #e4dddd;
  color: #b92b2b;
}
.icon_checkeds_true_producto {
  left: 25%;
  font-size: 40px;
  background-color: #17161d;
  color: #16ad0e;
}

@media (min-width: 980px) and (max-width: 1230px) {
  .formulario_producto {
    width: 65%;
  }
  .errors_submit_producto {
    left: 40.5%;
  }
}
@media (min-width: 780px) and (max-width: 980px) {
  .formulario_producto {
    width: 70%;
  }
  .icon_checkeds_false_producto {
    left: 18%;
  }
  .icon_checkeds_true_producto {
    left: 18%;
  }

  .errors_submit_producto {
    left: 38%;
  }
}
@media (min-width: 550px) and (max-width: 780px) {
  .formulario_producto {
    width: 80%;
  }
  .icon_checkeds_false_producto {
    left: 14%;
  }
  .icon_checkeds_true_producto {
    left: 14%;
  }
  .errors_submit_producto {
    left: 35%;
  }
}
