.contenedor_principal_login {
  width: 100%;
  height: 30rem;
  font-family: serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  background-color: #e7e7ee;
  width: 45%;
  height: 100%;
}
.titulo_form_login {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0px 0;
  font-size: 30px;
  font-family: serif;

  color: #212122;
}
.contenedor_inputs {
  width: 60%;
  height: 50%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.inputs_login {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  border: 1px solid blue;

  font-family: serif;
  font-size: 20px;
  font-weight: 500;
}
.inputs_login:focus {
  outline: none;
}
.errors_frontend {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  position: absolute;
  top: 65%;
  color: rgb(245, 9, 9);
}

.contenedor_boton {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;
}
.boton_submit {
  width: 100%;
  height: 40%;
  margin: 30px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d0d0d3;
  background-color: #232325;
  border: 2px solid #d0d0d3;
  box-shadow: 0px 3px 0px 0px #d0d0d3;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  transition: all 0.4s;
}
.boton_submit:hover {
  color: #232325;
  background-color: #d0d0d3;
  border: 4px solid #d0d0d3;
  box-shadow: 0px 0px 0px 0px #d0d0d3;
  border-radius: 40px;
}
.errors_backend {
  position: absolute;
  bottom: 42%;
  width: 100%;
  color: rgb(150, 45, 45);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 400px) and (max-width: 1111px) {
  .formulario {
    width: 60%;
  }
}
