.contenedor_icono_editar_pagina {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: -42%;
}
.icono_editar_pagina {
  width: 3%;
  height: 6%;
  padding: 0.8%;
  color: #f4e4e4;
  background-color: #0b0b0b;
  border: 2px solid #969aaf;
  border-radius: 25px;
  transition: all 0.4s;
}
.icono_editar_pagina:hover {
  color: #0b0b0b;
  background-color: #f4e4e4;
  border-radius: 40px;
  border: 2px solid #969aaf;
}

.contenedor_navbar {
  background-color: #f3f2f7;
  position: fixed;
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 2%;
  border-bottom: #c2c2c4 solid 1.5px;
  left: 0;
  top: 0;
  margin-bottom: 10%;
}

.contenedor_bienvenida {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.nombre {
  color: rgba(0, 0, 0, 0.88);
  font-family: serif;
  font-size: 26px;
  font-weight: 600;

  margin: 0;
  padding: 0;
}
.titulo {
  color: rgba(0, 0, 0, 0.88);
  font-family: serif;
  font-size: 26px;
  font-weight: 600;

  margin: 0;
  padding: 0;
}

.contenedor_principal_input_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 65%;
  border-radius: 20px 20px 20px 20px;
  background-color: #dfdce9;
}
.contendor_secundario_input_search {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.icono_input_search {
  font-size: 20px;
  margin: 0 10px;
}

.input_search {
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-family: serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.88);
  border-radius: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 10px;
}
.contenedor_principal_lista_busqueda_input_search {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.contenedor_lista_busqueda_input_search {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #dfdce9;
  border-radius: 0px 0px 20px 20px;
}
.items_busqueda_input_search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.88);
}
.items_busqueda_input_search:hover {
  background-color: #a2a1a5;
}
.hijo_items_busqueda_input_search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.texto_input_busqueda_search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: serif;
  font-size: 18px;
  margin-left: 10px;
}
.icono_input_search_busqueda {
  position: relative;
  display: flex;
  align-items: center;
  font-family: serif;
  width: 10%;
  height: 50%;
}

.contenedor_botones_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.botones_navbar {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.88);
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
  text-align: center;
}

.botones_navbar:hover {
  border-top: 2px solid blue;
}
.contenedor_lista_agregar_publicacion {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedor_lista_agregar_publicacion:hover ul {
  display: flex;
}

.lista_agregar_publicacion {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  padding-bottom: 8%;
  border-radius: 0px 0px 10px 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #f3f2f7;
  color: rgba(0, 0, 0, 0.88);
  top: 78%;
}
.items_lista_agregar_publicacion {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items_lista_agregar_publicacion:hover {
  background-color: #c6c5ca;
}

.errors_input {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 18px;
  color: rgb(104, 30, 30);
  margin: 0 10px;
}
.contenedor_barra_responsive {
  display: none;
}

@media (max-width: 1095px) {
  .lista_agregar_publicacion {
    top: 50px;
    right: 12%;
  }
  .icono_editar_pagina {
    width: 5%;
    height: 7%;
  }
}
@media (max-width: 938px) {
  .icono_editar_pagina {
    width: 5%;
    height: 7%;
  }
  .lista_agregar_publicacion {
    top: 50px;
    right: 11%;
  }
}
@media (max-width: 926px) {
  .icono_editar_pagina {
    width: 6%;
    height: 8%;
  }
  .contenedor_bienvenida {
    width: 100%;
  }
  .input_search {
    width: 100%;
  }
  .contenedor_botones_navbar {
    width: 65%;
  }
  .contenedor_lista_agregar_publicacion {
    display: none;
  }

  .botones_navbar {
    display: none;
  }
  .contenedor_barra_responsive {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icono_barra {
    color: #000;
    width: 4rem;
    height: 3rem;
    background-color: #252446;
    color: #c0c0d3;
    border: #1d1d1f 4px solid;
    border-radius: 40px;
    transition: all 0.4s;
    position: relative;
  }
  .icono_barra:hover {
    background-color: #c0c0d3;
    color: #252446;
    border: #6d6d72 4px solid;
  }
  .contenedor_barra_responsive:hover .contenedor_lista_responsive {
    display: flex;
  }
  .contenedor_lista_responsive {
    position: absolute;
    top: 4rem;
    width: 12rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .items_lista_responsive {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 8px;
    background-color: #252446;
    color: #c0c0d3;
    padding: 15px 0;
    transition: all 0.4s;
  }
  .items_lista_responsive:hover {
    background-color: #bcbbce;
    color: #000004;
  }
  .contenedor_sublista {
    width: 100%;
  }
  .contenedor_sublista:hover .sub_lista_responsive {
    display: flex;
  }
  .sub_lista_responsive {
    position: absolute;
    top: 3rem;
    right: 100%;
    width: 12rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 550px) and (max-width: 926px) {
  .contenedor_bienvenida {
    width: 100%;
  }
  .nombre {
    font-size: 20px;
  }
  .titulo {
    font-size: 20px;
  }
  .contenedor_principal_input_search {
    width: 200%;
  }
  .input_search {
    width: 100%;
  }
  .contenedor_lista_busqueda_input_search {
    width: 100%;
    padding-bottom: 10%;
  }
  .contenedor_botones_navbar {
    width: 100%;
  }
  .contenedor_lista_responsive {
    width: 30%;
    top: 83%;
    right: 0%;
  }
}
